[run]
    source = .
    branch = True
    omit = manage.py
        *migrations*
        *asgi.py
        *wsgi.py
        *.tox*

[report]
    fail_under = 91
    show_missing = True
    skip_covered = True
    sort = Cover
    precision = 1
